<%- include("partials/header") %>
<link rel="stylesheet" type="text/css" href="/stylesheets/bikes.css">

<div class="bikes-body">
	
<div class="ui breadcrumb">
  <a href="/" class="section">Home</a>
  <div class="divider"> / </div>
  <br>
  <div class="active section">BIKES</div>
</div>

<div class="main-content"> 


	<div class="accordion js-accordion">
  <div class="accordion__item js-accordion-item active">
  	<hr>
    <div class="accordion-header js-accordion-header">MODEL YEAR</div> 
  <div class="accordion-body js-accordion-body">
    <div class="accordion-body__contents">
            <div class="checkbox">
                 <input type="checkbox">
                 <label data-filter=".2020" >2020</label>

         </div>

           <div class="checkbox">
                 <input type="checkbox">
                 <label data-filter=".2021">2021</label>
         </div>
    </div>
    
    
    </div>
  </div>
  <div class="accordion__item js-accordion-item active">
  	<hr>
    <div class="accordion-header js-accordion-header">WHEEL SIZE</div> 
  <div class="accordion-body js-accordion-body">
    <div class="accordion-body__contents">
        <div class="checkbox">
                 <input type="checkbox">
                 <label data-filter=".12">12"</label>
         </div>
          <div class="checkbox">
                 <input type="checkbox">
                 <label data-filter=".14">14"</label>
         </div>
          <div class="checkbox">
                 <input type="checkbox">
                 <label data-filter=".16">16"</label>
         </div>
          <div class="checkbox">
                 <input type="checkbox">
                 <label data-filter=".18">18"</label>
         </div>
          <div class="checkbox">
                 <input type="checkbox">
                 <label data-filter=".20">20"</label>
         </div>
          <div class="checkbox">
                 <input type="checkbox">
                 <label data-filter=".26">26"</label>
         </div>
    </div>
     
    </div>
  </div>    <div class="accordion__item js-accordion-item active">
    	<hr>
    <div class="accordion-header js-accordion-header">TOP TUBE SIZE</div> 
  <div class="accordion-body js-accordion-body">
    <div class="accordion-body__contents">
        <div class="checkbox">
                 <input type="checkbox">
                 <label data-filter=".20.0">20.0"</label>
         </div>
         <div class="checkbox">
                 <input type="checkbox">
                 <label  data-filter=".20.25">20.25"</label>
         </div>
         <div class="checkbox">
                 <input type="checkbox">
                 <label  data-filter=".20.5" >20.5"</label>
         </div>
          <div class="checkbox">
                 <input type="checkbox">
                 <label  data-filter=".20.75" >20.75"</label>
         </div>
          <div class="checkbox">
                 <input type="checkbox">
                 <label  data-filter=".21.0">21.0"</label>
         </div>

    </div>
      
    </div>
  </div>
    
    
 
  </div>
</div>
   




<div class="bikes-collection"> 

   <div id="filter" class="filter"> 
  	<i class="small sliders horizontal icon"></i>
   	 
      <h5>Filter</h5> 
   


   </div>  
   <div class="bikes-inform"> 
   	 <select name="cont" class="ui dropdown" id="sort">
                <option value=""> Sort</option>
                <option value=""> Featured</option>
                <option value="">Best selling</option>
                <option value=""  > Alphabetically, A-Z</option>
                <option value="">Alphabetically, Z-A</option>
                <option value="">Price, low to high</option>
                <option value="">Price, high to low</option>
                <option value="">Date, old to new</option>
                <option value=""  >Date, new to old</option>

              </select>
	<h5 class="count-of-products"> 33 products </h5>
	 
    </div>
<div class="row row-cols-1 row-cols-md-3">


 
<% bikes.forEach( function (bike){ %>
<div class="col mb-4">
 <div class="card">
 	  <div class="card-img-overlay">
    <h5 class="card-title">Available At Dealers</h5>
</div>
   <a href="#">  <img src="<%= bike.images[0] %>" class="card-img-top" alt="..."> </a>
   
   <div class="card-body card-body-bike">
  
     <p class="card-text">  <%= bike.name %>
</p>
     <p class="card-text"> <small class="price"> $ <%= bike.cost %> </small></p>
   </div>
 </div>
 </div>
 <% })%>

</div>
</div>


 <div id='bikes-filter' class="bikes-sidebar">
    <div class="filter-exit">  

<h2 class="filter-title"> Filter</h2>
<i class="x icon"></i>
</div>
  <hr class="bikes-filter-hr">
  
      <div class="accordion1 js-accordion">
  <div class="accordion__item js-accordion-item active">

    <div class="accordion-header js-accordion-header">MODEL YEAR</div> 
  <div class="accordion-body js-accordion-body">
    <div class="accordion-body__contents">
            <div class="checkbox">
                 <input type="checkbox">
                 <label >2020</label>

         </div>

           <div class="checkbox">
                 <input type="checkbox">
                 <label>2021</label>
         </div>
    </div>
    
    
    </div>
  </div>
  <div class="accordion__item js-accordion-item active">

    <div class="accordion-header js-accordion-header">WHEEL SIZE</div> 
  <div class="accordion-body js-accordion-body">
    <div class="accordion-body__contents">
        <div class="checkbox">
                 <input type="checkbox">
                 <label>12"</label>
         </div>
          <div class="checkbox">
                 <input type="checkbox">
                 <label>14"</label>
         </div>
          <div class="checkbox">
                 <input type="checkbox">
                 <label>16"</label>
         </div>
          <div class="checkbox">
                 <input type="checkbox">
                 <label>18"</label>
         </div>
          <div class="checkbox">
                 <input type="checkbox">
                 <label>20"</label>
         </div>
          <div class="checkbox">
                 <input type="checkbox">
                 <label>26"</label>
         </div>
    </div>
     
    </div>
  </div>    <div class="accordion__item js-accordion-item active">

    <div class="accordion-header js-accordion-header">TOP TUBE SIZE</div> 
  <div class="accordion-body js-accordion-body">
    <div class="accordion-body__contents">
        <div class="checkbox">
                 <input type="checkbox">
                 <label>20.0"</label>
         </div>
         <div class="checkbox">
                 <input type="checkbox">
                 <label>20.25"</label>
         </div>
         <div class="checkbox">
                 <input type="checkbox">
                 <label>20.5"</label>
         </div>
          <div class="checkbox">
                 <input type="checkbox">
                 <label>20.75"</label>
         </div>
          <div class="checkbox">
                 <input type="checkbox">
                 <label>21.0"</label>
         </div>

    </div>
      
    </div>
  </div>
    
    
 
  </div>
 
  </div>
</div>

<script type="text/javascript" > 
const sideSlide = ()=> {
    const filter = document.querySelector('.filter');
    const close = document.querySelector('.x.icon');

    const side =  document.querySelector('.bikes-sidebar ');
   
    close.addEventListener('click', ()=> { 

        side.classList.toggle('nav-active');

    });
    
  
    filter.addEventListener('click', ()=> {

          //toggle Nav
        side.classList.toggle('nav-active');
    });
 }
   
  


sideSlide();</script>

<%- include("partials/footer") %>

